@{
    ViewData["Title"] = "View Restaurents";
}


<embed height="100" width="100" src="~/wwwroot/erkensikus.mp3" />
<script type="text/javascript">
    function play() {
        var audioValue = document.getElementById('<%=audioHidden.ClientID%>').value;
        //alert(audioValue);
        embed = document.createElement("embed");
        embed.setAttribute("src", audioValue);
        embed.setAttribute("hidden", true);
        embed.setAttribute("autostart", true);
        document.body.appendChild(embed);
    }
    window.onload = function () {
        play();
    }
</script>

<div class="container">
    <h1 class="text-center my-5"><b>𝑬𝒙𝒑𝒍𝒐𝒓𝒆 𝑻𝒉𝒆 𝑽𝒂𝒓𝒊𝒐𝒖𝒔 𝑹𝒆𝒔𝒕𝒂𝒖𝒓𝒆𝒏𝒕𝒔 𝑵𝒆𝒂𝒓 𝒀𝒐𝒖!!!</b></h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@Url.Content("~/images/img1.jpeg")" alt="Restaurant Name" />
                <div class="card-body">
                    <h5 class="card-title"><b>𝑩𝒊𝒕𝒆𝑯𝒊𝒗𝒆</b></h5>
                    <p class="card-text">This restaurant is known for its mouth-watering steaks, cooked to perfection every time, paired with a selection of fine wines that will leave your taste buds dancing.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Menu", "Home")'">View Menu</button>

                        </div>
                        <small class="text-muted">Via del Corso, 123, 00186 Rome, Italy</small>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@Url.Content("~/images/img2.jpeg")" alt="Restaurant Name" />
                <div class="card-body">
                    <h5 class="card-title"><b>𝑶𝒄𝒆𝒂𝒏'𝒔 𝑩𝒊𝒕𝒆𝒔</b></h5>
                    <p class="card-text">Descend into an aquatic wonderland and indulge in exquisite cuisine surrounded by marine life at this unique underwater restaurant.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Menu", "Home")'">View Menu</button>
                        </div>
                        <small class="text-muted">La Rambla, 42, 08002 Barcelona, Spain</small>
                    </div>
                </div>
            </div>
        </div> <br /><br />
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@Url.Content("~/images/img3.jpeg")" alt="Restaurant Name" />
                <div class="card-body">
                    <h5 class="card-title"><b>𝑺𝒑𝒊𝒄𝒆 𝑱𝒖𝒏𝒄𝒕𝒊𝒐𝒏</b></h5>
                    <p class="card-text">Step into this cozy eatery and experience a warm and welcoming atmosphere, where you can enjoy classic comfort food dishes that will leave you feeling satisfied and happy.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Menu", "Home")'">View Menu</button>
                        </div>
                        <small class="text-muted">Piazza Navona, 25, 00186 Rome, Italy</small>
                    </div>
                </div>
            </div>
        </div> <br /><br />
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@Url.Content("~/images/img4.jpeg")" alt="Restaurant Name" />
                <div class="card-body">
                    <h5 class="card-title"><b>𝑮𝒓𝒊𝒍𝒍 𝑵𝒂𝒕𝒊𝒐𝒏</b></h5>
                    <p class="card-text">Looking for a unique dining experience? This restaurant offers a fusion of flavors from around the world, using fresh ingredients and bold spices to create unforgettable dishes.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Menu", "Home")'">View Menu</button>
                        </div>
                        <small class="text-muted">123-125 Leith Walk, Edinburgh EH6 8NP, United Kingdom</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@Url.Content("~/images/img5.jpeg")" alt="Restaurant Name" />
                <div class="card-body">
                    <h5 class="card-title"><b>𝑹𝒖𝒔𝒕𝒊𝒄 𝑫𝒊𝒏𝒆𝒓</b></h5>
                    <p class="card-text">If you're in the mood for something light and healthy, this restaurant has a menu filled with delicious salads, sandwiches, and smoothies that will leave you feeling energized and refreshed.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Menu", "Home")'">View Menu</button>
                        </div>
                        <small class="text-muted">1 Harbour Rd, Wan Chai, Hong Kong</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@Url.Content("~/images/img6.jpeg")" alt="Restaurant Name" />
                <div class="card-body">
                    <h5 class="card-title"><b>𝑾𝒉𝒊𝒔𝒌 & 𝑾𝒉𝒊𝒔𝒕𝒍𝒆</b></h5>
                    <p class="card-text">For those who love seafood, this restaurant is a must-visit. From succulent lobster to delicate scallops, the menu is filled with the freshest catches of the day, all expertly prepared and served with a smile.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Menu", "Home")'">View Menu</button>
                        </div>
                        <small class="text-muted">789 Main St, Anytown USA</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #3BE6D3;
    }

    .btn-primary {
        background-color: #4CAF50;
        border-color: #4CAF50;
    }

        .btn-primary:hover {
            background-color: #3e8e41;
            border-color: #3e8e41;
        }

    .btn-outline-secondary {
        color: #4CAF50;
        border-color: #4CAF50;
    }

        .btn-outline-secondary:hover {
            background-color: #4CAF50;
            color: #fff;
        }

    .card {
        width: 600;
        height: 600;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 1.0);
    }

        .card:hover {
            transform: translateY(-10px);
        }

        .card img {
            width: 100%;
            height: 60%;
            object-fit: cover;
        }

    .card-content {
        padding: 20px;
    }

    .card-title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .card-description {
        font-size: 16px;
        color: #777;
    }
</style>